<header class="header">
  <div class="header__brand">
    <h1>Rúben Carvalho</h1>
  </div>

  <nav class="header__nav">
   <a href="#">Link 1</a>
   <a href="#">Link 1</a>
   <a href="#">Link 1</a>
  </nav>
</header>